@mixin margen-horizontal($valor) {
    margin-left: $valor;
    margin-right: $valor;
}

@mixin alto($valor) {
    height: $valor;
}

@mixin borde-redondeado($radio) {
    border-radius: $radio;
}