#navbar{
    background-color: #886CE4 !important ;
}

#button-ver{
    background-color: #886CE4 !important ;
}

#texto-resaltado{
    color: #410f3c;
}

form{
    margin-left: 100px;
    margin-right: 100px;
}

#enunciado-contacto{
    margin-top: 20px;
    background-color: #886CE4;
    text-decoration-color: aliceblue;
}

#enunciado-text{
    color: aliceblue;
}

#floatingTextarea2{
    height: 100px
}

#productos{
    margin-top: 50px;
}

#datos-usuario{
    margin-top: 20px
}

#datos-usuario-card{
    width: 18rem;
}

#container-local{
    margin-top: 20px;
}

#card-local{
    width: 18rem;
}

